<form>
    First Name : <input type="text" name="firstname" id="firstname" [(ngModel)]="employee.firstName"><br>
    Last Name : <input type="text" name="lastname" id="lastname"[(ngModel)]="employee.lastName"><br>
    gender : <input type="text" name="gender" id="gender"[(ngModel)]="employee.gender"><br>
    date of birth : <input type="date" name="dob" id="dob"[(ngModel)]="employee.dob"><br>
    department : <input type="text" name="department" id="department"[(ngModel)]="employee.department"><br>
    <input type="submit" name="submit" id="submit" (click)="OnCreateEmp()">
</form>
