<html>

<body>

    <div class="col-lg-20">
        <div class="col-lg-5" id="ui">
                <form class="form-group">
                    <div class="col-lg-8">
                        First Name : <input class="form-control" type="text" name="firstname" id="firstname"
                            [(ngModel)]="employee.firstName"></div>
                    <div class="col-lg-8">Last Name : <input class="form-control" type="text" name="lastname"
                            id="lastname" [(ngModel)]="employee.lastName"></div>
                    <div class="col-lg-8">
                        gender : <br> <select class="form-control" name="gender" id="gender" [(ngModel)]="employee.gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Others</option>
                        </select>
                    </div>
                    <div class="col-lg-8">date of birth : <input class="form-control" type="date" name="dob" id="dob"
                            [(ngModel)]="employee.dob"></div>
                    <div class="col-lg-8">department : <input class="form-control" type="text" name="department"
                            id="department" [(ngModel)]="employee.department"></div>
                    <div class="col-lg-8"><button type="submit" class="btn btn-primary btn-block" name="submit"
                            id="submit" (click)="OnCreateEmp()">Create employee</button>
                    </div>
                </form>
        </div>
    </div>
</body>

</html>